@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
@import url('https://fonts.googleapis.com/css?family=Montserrat:800,900');

body {
    font-family: Montserrat-regular;
    background-color: #f4f4f4;
}

a.nav-item a.nav-link {
    font-size: 1em;
    font-family: "Open Sans";
    color: white;
}

div span {
    margin: 3em;
}

p {
    font-size: 0.875em;
}

#one {
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#btn_buy {
    width: 200px;
}

#station-name {
    font-size: 1.3em;
}

div.col-sm-4 {
    text-align: center;
}

.chapters {
    text-decoration: none;
}

#footer {
    background-color: #212121;
}

#foot-pic {
    width: 100px;
    height: 32px;
}

b {font-family: Montserrat-bold}